[Unit]
Description=gamedoora-gateway
After=syslog.target gamedoora-config-server.service

[Service]
User=gamedoora
ExecStart=/opt/gamedoora/gamedoora-gateway.jar
SuccessExitStatus=143
Environment="CONFIG_SERVER=http://localhost:8888 LOG_PATH=/var/log/gamedoora/gateway_logs"
[Install]
WantedBy=multi-user.target
